services:
  db:
    ports:
        - "1433:1433"
    networks:
      - backend-network
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      MSSQL_SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: "Y"
  backend:
    networks:
      - backend-network
    build: ./backend
    expose:
      - "5056"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5056
      - ASPNETCORE_ENVIRONMENT=Development
      - AppConfig__ApiUrl=http://backend:5056
    volumes:
      - ./app-data:/app/EsteticaAPI/wwwroot
    depends_on:
      - db
  mobile:
    networks:
      - mobile-network
    build: ./mobile
    ports:
      - "8081:8081"
    environment:
      - EXPO_PUBLIC_API_APP_URL=${EXPO_PUBLIC_API_APP_URL}
      - EXPO_PUBLIC_API_WEB_URL=${EXPO_PUBLIC_API_WEB_URL}
      - EXPO_PUBLIC_WHATSAPP=${EXPO_PUBLIC_WHATSAPP}
      - EXPO_PUBLIC_FACEBOOK_URL=${EXPO_PUBLIC_FACEBOOK_URL}
      - EXPO_PUBLIC_INSTAGRAM_URL=${EXPO_PUBLIC_INSTAGRAM_URL}
    volumes:
      - ./mobile-data:/usr/src/app/public
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    networks:
      - backend-network
      - mobile-network
    container_name: nginx
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app-data:/app/EsteticaAPI/wwwroot
    depends_on:
      - backend
networks:
  backend-network:
    driver: bridge
  mobile-network:
    driver: bridge